<footer class="w-full bg-[#0A1628]  border-t mt-10">

  <div class="px-2 sm:px-4 lg:px-6 xl:px-8 py-8 flex flex-col md:flex-row items-center justify-between gap-6">

    <!-- Logo / marca -->
    <div class="flex items-center gap-3">
      <span class="text-white bg-green-400 rounded-2xl text-xl p-2 flex items-center justify-center">
        <i class="pi pi-briefcase"></i>
      </span>
      <span class="font-semibold text-white">Bolsa de Empleos</span>
    </div>

    <!-- Links -->
    <div class="flex gap-6 text-white text-sm">
      <a routerLink="/empleos" class="hover:text-green-500 transition">Empleos</a>
      <a routerLink="/empresas" class="hover:text-green-500 transition">Empresas</a>
      <a routerLink="/contacto" class="hover:text-green-500 transition">Contacto</a>
    </div>

    <!-- Social / acciones -->
    <div class="flex items-center gap-3 text-white">
      <a href="#" class="hover:text-green-500 transition">
        <i class="pi pi-facebook"></i>
      </a>
      <a href="#" class="hover:text-white transition">
        <i class="pi pi-twitter"></i>
      </a>
      <a href="#" class="hover:text-white transition">
        <i class="pi pi-linkedin"></i>
      </a>
    </div>

  </div>

  <!-- Bottom bar -->
  <div class="text-center text-xs text-white py-3 border-t">
    © 2026 Bolsa de Empleos. Todos los derechos reservados.
  </div>

</footer>