<header class="flex items-center justify-between w-full px-2 sm:px-4 lg:px-6 xl:px-8 py-3 bg-white shadow">

  
  <div class="flex items-center gap-8">


    <a routerLink="/home" class="flex items-center gap-3">
      <span class="text-white bg-green-400 rounded-2xl text-2xl p-2 flex items-center justify-center">
        <i class="pi pi-briefcase"></i>
      </span>
    </a>

  
    <nav class="flex gap-6 text-gray-700 font-medium">
      <a routerLink="/empleos" class="hover:text-green-500 transition">Empleos</a>
      <a routerLink="/empresas" class="hover:text-green-500 transition">Empresas</a>
    </nav>

  </div>


  <div class="flex items-center gap-3">
    <p-button label="Login" styleClass="p-button-text"></p-button>
    <p-button label="Registrarse"></p-button>
  </div>

</header>